@model VTickets.Models.Actor

@{
    ViewData["Title"] = "Add New Actor";
    Layout = "_Layout";
}

<h1 class="alert alert-primary text-center">Add New Actor</h1>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card p-2 rounded shadow border border-success">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center">
                    <img id="ProfilePicturePreview" />
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePictureUrl" class="font-weight-bold"></label>
                    <input asp-for="ProfilePictureUrl" type="file" class="form-control" />
                    <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="font-weight-bold"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bio" class="font-weight-bold"></label>
                    <textarea asp-for="Bio" class="form-control"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-outline-dark" asp-action="Index">Show All Actors</a>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-success float-right" type="submit">Add New Actor</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}